@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700&display=swap');


* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

body {
    background-color: rgb(40, 40, 43);
}


.back {
    background-image: url(../netfliximg/back.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: scroll;
    
}

.nav {
    display: flex;
    justify-content: space-between;
    position: relative;
    padding: 0.7rem 0.5rem 0 0.5rem;

}

.logo {
    align-self: center;
}

.logo img{
    margin: 0.6rem 0.5rem;
    width: 40%;
    position: relative;
    align-self: center;

}


.signin {
    position: relative;
    margin-left: 0;
    margin-right: 0.6rem;
    margin-bottom: 0.55rem;
    align-self: center;
}

.signin button {
    color: white;
    position: relative;
    background-color: rgb(229, 9, 20);
    border: none;
    width: 3.3rem;
    height: 1.5rem;
    border-radius: 3px;
}

.home{
    margin: 0.5rem;
    margin-top: 2rem;
    display: flex;
    padding: 5px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.home h1 {
    color: white;
    font-size: 1.2rem;
    text-align: center;
    padding: 0 15px 10px 15px;
    
}

.home p {
    margin-top: 1rem;
    color: white;
    text-align: center;
    padding: 0 8px 0 8px;
    font-size: 0.9rem;
}

.laptop {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    
}

.laptop input {
    
    padding: 5px;
    height: 2.2rem;
    margin-top: 0.8rem;
    align-items: center;
    border: none;
    width: 100%;
}

.laptop button {
    margin: 0.5rem 1rem 3rem 1rem;
    width: 8rem;
    align-self: center;
    height: 2rem;
    background-color: rgb(229, 9, 20) ;
    border: none;
    border-radius: 3px;
    color: white;
    font-size: 0.8rem;
}


.first {
    padding: 8px;
    margin-bottom: 0.5rem;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.first h1 {
    text-align: center;
    color: white;
    padding-top: 3rem;
    font-size: 1.2rem;
}

.first p {
    color: white;
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-size: 0.9rem;
    padding: 0 8px 0 8px;
}

.img1 img {
    margin: 1rem 1.5rem 3rem 1.5rem;
    width: 13rem;
}

.second {
    padding: 8px;
    margin-bottom: 0.5rem;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.second h1 {
    text-align: center;
    color: white;
    padding-top: 3rem;
    font-size: 1.2rem;
}

.second p {
    padding: 0 8px 0 8px;
    color: white;
    text-align: center;
    margin-top: 1rem;
    font-size: 0.9rem;
}

.img2 img {
    margin: 1rem 1.5rem 3rem 1.5rem;
    width: 13rem;
}

.third {
    padding: 8px;
    margin-bottom: 0.5rem;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.third h1 {
    text-align: center;
    color: white;
    padding-top: 3rem;
    font-size: 1.2rem;
}

.third p {
    padding: 0 8px 0 8px;
    color: white;
    text-align: center;
    margin-bottom: 1rem;
    margin-top: 1rem;
    font-size: 0.9rem;
}

.img3 img {
    margin: 1rem 1.5rem 3rem 1.5rem;
    width: 13rem;
}


.fourth {
    padding: 8px;
    margin-bottom: 0.5rem;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.fourth h1 {
    text-align: center;
    color: white;
    padding-top: 3rem;
    padding-left: 0.4rem;
    padding-right: 0.4rem;
    font-size: 1.2rem;
}

.fourth p {
    padding: 0 8px 0 8px;
    color: white;
    text-align: center;
    margin-bottom: 1rem;
    margin-top: 1rem;
    font-size: 0.9rem;
}

.img4 img {
    margin: 1rem 1.5rem 3rem 1.5rem;
    width: 13rem;
}


.fifth {
    padding: 8px;
    margin-bottom: 0.5rem;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.fifth h1 {
    text-align: center;
    color: white;
    padding-top: 3rem;
    padding-left: 0.4rem;
    padding-right: 0.4rem;
    font-size: 1.2rem;
}

.faqs{
    width: 100%;
    padding: 0px 20px 20px;
 }
 
 ::-webkit-details-marker{
    float: right;
    margin-top: 3px;
 }
 
 details{
    color: white;
    background: rgb(40, 40, 43);
    padding: 10px 20px;
    margin-top: 20px;
    font-size: 0.7rem;
    letter-spacing: 1px;
    cursor: pointer;
 }
 
 details summary{
    outline: none;
 }

.fifth p{
    padding: 0 8px 0 8px;
    color: white;
    text-align: center;
    margin-top: 1rem;
    font-size: 0.9rem;
}

.fifth input {
    margin: 0 auto 0.5rem 1rem;
    padding: 5px;
    height: 2.2rem;
    margin-top: 0.8rem;
    align-items: center;
    border: none;
    width: 90%;
}

.btn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.fifth button {
    margin-bottom: 3rem;
    width: 8rem;
    align-self: center;
    height: 2rem;
    background-color: rgb(229, 9, 20);
    border: none;
    color: white;
    font-size: 0.8rem;
}

.six {
    padding: 8px;
    display: flex;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.six h1 {
    text-align: left;
    color: darkgray;
    padding-top: 3rem;
    margin: 1rem;
    margin-bottom: 0.3rem;
    font-size: 0.8rem;
}

.six h6 {
    color: darkgray;
    margin-bottom: 3rem;
    font-size: 0.5rem;
}

.six p {
    padding: 0 8px 0 8px;
    text-align: center;
    margin-top: 1rem;
    font-size: 0.7rem;
}

.footer {
    
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 1rem;
    flex-flow: start;
    margin-bottom: 3rem;
    
}

.clm {
    flex: 50%;
}

.footer p {
    text-align: left;
    color: darkgrey;
}

.footer a{
    text-decoration: none;
}

.footer a:hover{
    text-decoration: underline;
    color: darkgrey;
}


/*media query for surface-book*/

@media (min-width: 540px){
    .home button {
        margin-bottom: 5rem;
    }

    .img1 img {
        margin-bottom: 5rem;
    }

    .img2 img {
        margin-bottom: 5rem;
    }

    .img3 img {
        margin-bottom: 5rem;
    }

    .img4 img {
        margin-bottom: 5rem;
    }

    .fifth button {
        margin-top: 0.5rem;
        margin-bottom: 5rem;
    }

    .footer {
        margin-bottom: 4rem;
    }

}

/*Media query for Tablets*/

@media (min-width: 760px) {
    .nav {
        padding: 0.8rem 2rem 0 2rem;
    }

    .home {
        margin: 6rem 5rem 0.5rem 5rem;
    }

    .home h1 {
        font-size: 2.5rem;
    }

    .home p {
        font-size: 1.2rem;
    }

    .home input {
        height: 3rem;
    }

    .home button {
        margin-bottom: 9rem;
    }

    .first {
        padding: 3rem;
    }

    .first h1 {
        font-size: 2.1rem;
    }

    .first p {
        font-size: 1.2rem;
    }

    .img1 img {
        width: 20rem;
        margin-top: 3rem;
    }


    
    .second {
        padding: 3rem;
    }

    .second h1 {
        font-size: 2.1rem;
    }

    .second p {
        font-size: 1.2rem;
    }

    .img2 img {
        width: 25rem;
    }

    
    .third {
        padding: 3rem;
    }

    .third h1 {
        font-size: 2.1rem;
    }

    .third p {
        font-size: 1.2rem;
    }

    .img3 img {
        width: 25rem;
        margin-top: 3rem;
    }

    
    .fourth {
        padding: 3rem;
    }

    .fourth h1 {
        font-size: 2.1rem;
    }

    .fourth p {
        font-size: 1.2rem;
    }

    .img4 img {
        width: 25rem;
        margin-top: 3rem;
    }


    .fifth {
        padding: 3rem;
    }

    .fifth h1 {
        font-size: 2.1rem;
    }

    .faqs {
        width: 100%;
    }

    details{
        font-size: 1.2rem;
    }

    .fifth p{
        font-size: 1.2rem;
    }

    .fifth input {
        margin-top: 1rem;
        height: 3rem;
    }

    
    .six {
        padding: 3rem;

    }

    .six h1 {
        font-size:0.8rem;
    }

    .six p {
        font-size: 0.7rem;
    }

    .footer{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        padding: 1rem;
        flex-flow: start;
        margin-bottom: 3rem;
    }

    .clm {
        flex: 20%;
    }    

    .six h6 {
        font-size: 0.6rem;
        margin-bottom: -0.8rem;
    }

}

/*media query for Laptops*/


@media (min-width: 1024px){
    .logo img {
        width: 50%;;
    }

    .signin button {
        width: 4.2rem;
        height: 1.8rem;
        font-size: 0.87rem;
    }

    .laptop {
        display: flex;
        flex-direction: row;
        margin-top: 1.2rem;
        margin-bottom: 8rem;
        height: 3rem;
        
    }
     
    .laptop input {
        width: 27rem;
        margin: 0;
        border: 1px solid blue;
        height: 100%;
        
    }

    .laptop button {
        border: 1px solid green;
        margin: 0;
        height: 100%;
        width: 30%;
        font-size: 1.2rem;
        font-weight: 500;
    }

    .home h1 {
        font-size: 2rem;
    }

    .home p {
        font-size: 1rem;
    }

    .first {
        flex-direction: row;
        padding-bottom: 0;
    }

    .tv {
        margin-top: -5rem;
    }

    .tv h1{
        text-align: left;
    }

    .first h1 {
        padding: 0;
        font-size: 2rem;

    }

    .first p {
        text-align: left;
        font-size: 1rem;
    }

    .second {
        flex-direction: row-reverse;
        padding-bottom: 0;
        padding-top: 0;
    }

    .img2 img {
        margin-bottom: 0;
    }

    .download {
        margin-top: -3rem;
    }

    .download h1{
        text-align: left;
    }

    .second h1 {
        padding: 0;
        font-size: 2rem;

    }

    .second p {
        text-align: left;
        font-size: 1rem;
    }


    
    .third {
        flex-direction: row;
        padding-bottom: 0;
        padding-top: 0;
    }

    .img3 img {
        margin-bottom: 0;
    }

    .everywhere {
        margin-top: -3rem;
    }

    .everywhere h1{
        text-align: left;
    }

    .third h1 {
        padding: 0;
        font-size: 2rem;

    }

    .third p {
        text-align: left;
        font-size: 1rem;
    }


    
    .fourth {
        flex-direction: row-reverse;
        padding-bottom: 0;
        padding-top: 0;
    }

    .img4 img {
        margin-bottom: 0;
        margin-left: 0;
    }

    .kid {
        margin-top: -2rem;
    }

    .kid h1{
        text-align: left;
    }

    .fourth h1 {
        padding: 0;
        font-size: 2rem;

    }

    .fourth p {
        text-align: left;
        font-size: 1rem;
    }

    .btn p {
        font-size: 1rem;
    }

    .btn {
        margin-bottom: -6rem;    
    }

}


/*media query for bigger laptops or desktops */

@media (min-width: 1400px) {

    .home h1 {
        font-size: 3rem;
        font-weight: bolder;
    }

    .home p {
        font-size: 2rem;
    }

    .laptop {
        margin-top: 3rem;
        margin-bottom: 10rem;
    }

    
    .laptop button {
        border: 1px solid green;
        margin: 0;
        height: 100%;
        width: 15%;
        font-size: 1.2rem;
        font-weight: 500;
    }

    .first h1 {
        font-size: 2.6rem;
    }

    .first p {
        font-size: 1.5em;
    }

    .second h1 {
        font-size: 2.6rem;
    }

    .second p {
        font-size: 1.5em;
    }

    .third h1 {
        font-size: 2.6rem;
    }

    .third p {
        font-size: 1.5em;
    }

    .fourth h1 {
        font-size: 2.6rem;
    }

    .fourth p {
        font-size: 1.5em;
    }

    .btn button{
        width: 28%;
    }







}